{% extends "base.html" %}
{% block title %}
Posts index
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="col-md-5">
    <h5>Статус работы сервиса:</h5>
  <div class="row">

        {% for item in response %}
        <h1> {{ item.status }} </h1>

  </div>
</div>
</div>
<div class="text-center">

    <form>
<input type="button" class="btn btn-primary btn-lg" value="Запустить"  {% if item.status=="Сервис работает" %} disabled="disabled" {% endif%}  onClick='location.href="/start"'>
</form>
    <br>

    <form>
<input type="button" class="btn btn-primary btn-lg" value="Перезапустить" {% if item.status=="Сервис остановлен" %} disabled="disabled" {% endif%} onClick='location.href="/restart"'>
</form>
    <br>
    <form>
<input type="button"    class="btn btn-primary btn-lg" value="Остановить"  {% if item.status=="Сервис остановлен" %} disabled="disabled" {% endif%}  onClick='location.href="/stop"'>
</form>




 {% endfor %}

</div>
<hr>










{% endblock %}